@import url('https://fonts.googleapis.com/css2?family=Verdana&display=swap');

body{
    font-family: 'Verdana', sans-serif;
    align-content: center;
    text-align: center;
    background-color:rgb(102, 102, 102);
    text-align: center;
}

.product{
display: flex;
background-color: rgb(102, 102, 102);
gap: 7rem;
}

.details{
    display:flex;
    flex-direction: column;
    margin-right: 150px;  
}

.wrap{
    display: flex;
    flex-direction: row;
}
.timer{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin-left: 3rem;
    gap: 30px;
    color:red;
    margin-top: -5px;
    border-radius: 4px;

}
.days{
    background-color: rgb(177, 174, 170);
    padding: 11px;
    font-size: 22px;
    border-radius: 4px;
    text-align: center;
}


.hours{
    background-color: rgb(177, 174, 170);
    padding: 11px;
    font-size: 22px;
    text-align: center;
}
.mins{
    background-color: rgb(177, 174, 170);
    padding: 11px;
    font-size: 22px;
    border-radius: 4px;
    text-align: center;
}

.secs{
    background-color: rgb(177, 174, 170);
    padding: 11px;
    font-size: 22px;
    border-radius: 4px;
    text-align: center;
}


h3{
    color:lightseagreen;
    text-align: center;
}

p{
    text-align: center;
}
