* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 5rem;
  font-weight: bold;
  padding: 3rem;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("./example1.jpg");
  background-size: 100%;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 40%;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.waiting {
  height: 50vh;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

